## Import Stuff

In [64]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf

## Read CSV's

In [76]:
data20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\2020 Final Tables\\2020Final.csv")
FF20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\FirstFour.csv")
FR20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\FirstRound.csv")
SR20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\SecondRound.csv")
SS20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\SweetSixteen.csv")
EE20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\EliteEight.csv")
F420 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\FinalFour.csv")
F20 = pd.read_csv("C:\\Users\\Acer\\Desktop\\Web Scraping\\Tourney Rounds\\Finals.csv")

## Create DataFrame

In [77]:
df20 = pd.DataFrame(data20)
df20

,AP20_Rnk,PS20_Rnk,KP20_Rank,TeamID,TS20_Team,KP20_Conference,TS20_GP,STA20_W,STA20_L,STA20_Pct,...,KP20_Strength of Schedule,KP20_SOS Rk,KP20_Non-Conference Strength of Schedule,KP20_NCSOS Rk,KP20_Average Opponents Offensive Efficiency,KP20_AOOE Rk,KP20_Average Opponents Defensive Efficiency,KP20_AODE Rk,Team,Seed
0,NaN,NaN,76.0,168,Vermont,AE,33,26,7,0.788,...,-5.44,280.0,1.80,110.0,98.7,319.0,104.2,234.0,Vermont,13.0
1,22.0,22.0,14.0,130,Houston,Amer,31,23,8,0.742,...,6.33,68.0,2.56,88.0,104.2,99.0,97.9,38.0,Houston,8.0
2,NaN,NaN,39.0,148,Wichita State,Amer,31,23,8,0.742,...,4.78,81.0,-1.25,223.0,103.7,109.0,98.9,66.0,Wichita St.,11.0
3,NaN,NaN,44.0,166,Cincinnati,Amer,30,20,10,0.667,...,6.52,65.0,3.60,64.0,104.4,94.0,97.9,39.0,Cincinnati,11.0
4,3.0,3.0,4.0,26,Dayton,A10,31,29,2,0.935,...,2.74,105.0,-0.74,203.0,104.1,103.0,101.3,105.0,Dayton,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,NaN,NaN,129.0,86,Little Rock,SB,31,21,10,0.677,...,-0.59,162.0,1.35,134.0,102.1,180.0,102.7,156.0,Little Rock,14.0
64,2.0,2.0,2.0,1,Gonzaga,WCC,33,31,2,0.939,...,2.42,109.0,-2.09,245.0,103.5,115.0,101.0,99.0,Gonzaga,1.0
65,NaN,NaN,38.0,18,Saint Mary's,WCC,34,26,8,0.765,...,4.46,88.0,-0.32,188.0,105.4,70.0,100.9,97.0,Saint Mary's,8.0
66,18.0,18.0,13.0,6,BYU,WCC,32,24,8,0.750,...,6.06,74.0,7.40,20.0,106.0,49.0,100.0,86.0,BYU,6.0
67,NaN,NaN,286.0,120,Portland,WCC,32,9,23,0.281,...,1.74,117.0,-4.31,305.0,103.7,108.0,102.0,124.0,New Mexico St.,13.0

## Organize Games

In [5]:
#FIRST FOUR#
FF20_1 = FF20.drop([1,3,5,7])
FF20_2 = FF20.drop([0,2,4,6])
FF20_2 = FF20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
FF20_1 = FF20_1.reset_index(drop = True)
FF20_2 = FF20_2.reset_index(drop = True)
FF20 = pd.concat([FF20_1,FF20_2], axis = 1)
FF20

          Team1  Seed1  TeamID          Team2  Seed2  OppID
0      Richmond     11     106    Wichita St.     11    148
1      Stanford     11     241           UCLA     11    238
2    NC Central     16     266  Robert Morris     16    165
3  Prairie View     16     267          Siena     16    307

In [6]:
#FIRST ROUND#
FR20_1 = FR20.drop([1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63])
FR20_2 = FR20.drop([0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62])
FR20_2 = FR20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
FR20_1 = FR20_1.reset_index(drop = True)
FR20_2 = FR20_2.reset_index(drop = True)
FR20 = pd.concat([FR20_1,FR20_2], axis = 1)
FR20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region
0,Kansas,1,169,MW,Robert Morris,16,165,MW
1,Arizona St.,8,235,MW,Florida,9,220,MW
2,Wisconsin,5,222,MW,ETSU,12,44,MW
3,Kentucky,4,200,MW,Vermont,13,168,MW
4,Illinois,6,107,MW,Cincinnati,11,166,MW
5,Duke,3,27,MW,Little Rock,14,86,MW
6,Michigan,7,160,MW,Utah St.,10,7,MW
7,Creighton,2,38,MW,Belmont,15,13,MW
8,Dayton,1,26,E,Winthrop,16,10,E
9,Saint Mary's,8,18,E,Oklahoma,9,251,E
10,Auburn,5,129,E,Akron,12,159,E
11,Louisville,4,134,E,Liberty,13,198,E
12,West Virginia,6,232,E,Rutgers,11,207,E
13,Michigan St.,3,78,E,North Texas,14,62,E
14,USC,7,152,E,Indiana,10,132,E
15,Villanova,2,208,E,North Dakota St.,15,96,E
16,Baylor,1,298,S,Boston University,16,135,S
17,Marquette,8,33,S,Arizona,9,81,S
18,Ohio St.,5,163,S,Yale,12,189,S
19,Butler,4,167,S,Bradley,13,90,S
20,Virginia,6,349,S,Wichita St.,11,148,S
21,Maryland,3,204,S,UC Irvine,14,85,S
22,Providence,7,125,S,LSU,10,109,S
23,Florida St.,2,203,S,Northern Kentucky,15,41,S
24,Gonzaga,1,1,W,Siena,16,307,W
25,Houston,8,130,W,Colorado,9,184,W
26,Penn State,5,77,W,Stephen F. Austin,12,37,W
27,Oregon,4,47,W,New Mexico St.,13,120,W
28,BYU,6,6,W,Stanford,11,241,W
29,Seton Hall,3,117,W,Hofstra,14,19,W
30,Iowa,7,50,W,Xavier,10,205,W
31,San Diego St.,2,66,W,E. Washington,15,138,W

In [7]:
#SECOND ROUND#
SR20_1 = SR20.drop([1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31])
SR20_2 = SR20.drop([0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30])
SR20_2 = SR20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
SR20_1 = SR20_1.reset_index(drop = True)
SR20_2 = SR20_2.reset_index(drop = True)
SR20 = pd.concat([SR20_1,SR20_2], axis = 1)
SR20

            Team1  Seed1  TeamID Region         Team2  Seed2  OppID Region
0          Kansas      1     169     MW       Florida      9    220     MW
1            ETSU     12      44     MW       Vermont     13    168     MW
2        Illinois      6     107     MW          Duke      3     27     MW
3        Utah St.     10       7     MW     Creighton      2     38     MW
4          Dayton      1      26      E  Saint Mary's      8     18      E
5          Auburn      5     129      E    Louisville      4    134      E
6   West Virginia      6     232      E   Michigan St      3     78      E
7         Indiana     10     132      E     Villanova      2    208      E
8          Baylor      1     298      S       Arizona      9     81      S
9         Ohio St      5     163      S        Butler      4    167      S
10     Wichita St     11     148      S     UC Irvine     14     85      S
11     Providence      7     125      S    Florida St      2    203      S
12        Gonzaga      1       1      W       Houston      8    130      W
13     Penn State      5      77      W        Oregon      4     47      W
14            BYU      6       6      W    Seton Hall      3    117      W
15           Iowa      7      50      W  San Diego St      2     66      W

In [8]:
#SWEET SIXTEEN#
SS20_1 = SS20.drop([1,3,5,7,9,11,13,15])
SS20_2 = SS20.drop([0,2,4,6,8,10,12,14])
SS20_2 = SS20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
SS20_1 = SS20_1.reset_index(drop = True)
SS20_2 = SS20_2.reset_index(drop = True)
SS20 = pd.concat([SS20_1,SS20_2], axis = 1)
SS20

         Team1  Seed1  TeamID Region         Team2  Seed2  OppID Region
0       Kansas      1     169     MW          ETSU     12     44     MW
1         Duke      3      27     MW       Utah St     10      7     MW
2       Dayton      1      26      E    Louisville      4    134      E
3  Michigan St      3      78      E     Villanova      2    208      E
4       Baylor      1     298      S       Ohio St      5    163      S
5   Wichita St     11     148      S    Florida St      2    203      S
6      Gonzaga      1       1      W        Oregon      4     47      W
7          BYU      6       6      W  San Diego St      2     66      W

In [9]:
#ELITE EIGHT#
EE20_1 = EE20.drop([1,3,5,7])
EE20_2 = EE20.drop([0,2,4,6])
EE20_2 = EE20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
EE20_1 = EE20_1.reset_index(drop = True)
EE20_2 = EE20_2.reset_index(drop = True)
EE20 = pd.concat([EE20_1,EE20_2], axis = 1)
EE20

     Team1  Seed1  TeamID Region         Team2  Seed2  OppID Region
0   Kansas      1     169     MW          Duke      3     27     MW
1   Dayton      1      26      E   Michigan St      3     78      E
2   Baylor      1     298      S    Florida St      2    203      S
3  Gonzaga      1       1      W  San Diego St      2     66      W

In [10]:
#FINAL FOUR#
F420_1 = F420.drop([1,3])
F420_2 = F420.drop([0,2])
F420_2 = F420_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
F420_1 = F420_1.reset_index(drop = True)
F420_2 = F420_2.reset_index(drop = True)
F420 = pd.concat([F420_1,F420_2], axis = 1)
F420

    Team1  Seed1  TeamID Region        Team2  Seed2  OppID Region
0  Kansas      1     169     MW  Michigan St      3     78      E
1  Baylor      1     298      S      Gonzaga      1      1      W

In [78]:
#FINALS#
F20_1 = F20.drop([1])
F20_2 = F20.drop([0])
F20_2 = F20_2.rename(columns = {'Team1':'Team2','Seed1':'Seed2','TeamID':'OppID'})
F20_1 = F20_1.reset_index(drop = True)
F20_2 = F20_2.reset_index(drop = True)
F20 = pd.concat([F20_1,F20_2], axis = 1)
F20

    Team1  Seed1  TeamID Region    Team2  Seed2  OppID Region
0  Kansas      1     169     MW  Gonzaga      1      1      W

## Merge Datasets

In [12]:
#FIRST FOUR#
FF20 = FF20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
FF20 = FF20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
FF20

,Team1,Seed1,TeamID,Team2,Seed2,OppID,AP20_Rnk,PS20_Rnk,KP20_Rank,TS20_Team,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Richmond,11,106,Wichita St.,11,148,NaN,NaN,46.0,Richmond,...,4.78,81.0,-1.25,223.0,103.7,109.0,98.9,66.0,Wichita St.,11.0
1,Stanford,11,241,UCLA,11,238,NaN,NaN,43.0,Stanford,...,7.16,57.0,-0.73,202.0,105.5,67.0,98.3,49.0,UCLA,11.0
2,NC Central,16,266,Robert Morris,16,165,NaN,NaN,272.0,North Carolina Central,...,-6.38,308.0,1.65,118.0,99.7,279.0,106.1,319.0,Robert Morris,16.0
3,Prairie View,16,267,Siena,16,307,NaN,NaN,213.0,Prairie View A&M,...,-5.42,277.0,0.29,171.0,98.3,329.0,103.7,205.0,Siena,16.0

In [13]:
#FIRST ROUND#
FR20 = FR20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
FR20 = FR20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
FR20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,Robert Morris,16,165,MW,1.0,1.0,...,-6.38,308.0,1.65,118.0,99.7,279.0,106.1,319.0,Robert Morris,16.0
1,Arizona St.,8,235,MW,Florida,9,220,MW,NaN,NaN,...,6.53,64.0,1.28,136.0,106.7,36.0,100.2,88.0,Florida,9.0
2,Wisconsin,5,222,MW,ETSU,12,44,MW,17.0,17.0,...,-1.96,201.0,-0.64,199.0,103.0,129.0,105.0,273.0,ETSU,12.0
3,Kentucky,4,200,MW,Vermont,13,168,MW,NaN,NaN,...,-5.44,280.0,1.80,110.0,98.7,319.0,104.2,234.0,Vermont,13.0
4,Illinois,6,107,MW,Cincinnati,11,166,MW,21.0,21.0,...,6.52,65.0,3.60,64.0,104.4,94.0,97.9,39.0,Cincinnati,11.0
5,Duke,3,27,MW,Little Rock,14,86,MW,11.0,11.0,...,-0.59,162.0,1.35,134.0,102.1,180.0,102.7,156.0,Little Rock,14.0
6,Michigan,7,160,MW,Utah St.,10,7,MW,NaN,NaN,...,3.09,100.0,1.55,124.0,105.0,81.0,101.9,122.0,Utah St.,10.0
7,Creighton,2,38,MW,Belmont,15,13,MW,7.0,7.0,...,-7.08,324.0,-2.73,262.0,99.0,314.0,106.0,315.0,Belmont,15.0
8,Dayton,1,26,E,Winthrop,16,10,E,3.0,3.0,...,-8.04,336.0,3.54,65.0,99.9,274.0,107.9,351.0,Winthrop,16.0
9,Saint Mary's,8,18,E,Oklahoma,9,251,E,NaN,NaN,...,12.22,5.0,5.86,30.0,107.5,24.0,95.3,3.0,Oklahoma,9.0
10,Auburn,5,129,E,Akron,12,159,E,20.0,20.0,...,-1.21,180.0,-1.88,242.0,101.3,224.0,102.5,151.0,Akron,12.0
11,Louisville,4,134,E,Liberty,13,198,E,14.0,14.0,...,-9.00,345.0,-5.13,322.0,98.3,331.0,107.3,347.0,Liberty,13.0
12,West Virginia,6,232,E,Rutgers,11,207,E,24.0,24.0,...,-5.43,279.0,-2.55,257.0,99.4,299.0,104.8,262.0,Rutgers,11.0
13,Michigan St.,3,78,E,North Texas,14,62,E,9.0,9.0,...,1.92,113.0,6.11,28.0,102.5,152.0,100.6,93.0,North Texas,14.0
14,USC,7,152,E,Indiana,10,132,E,NaN,NaN,...,10.71,23.0,-0.60,198.0,108.3,8.0,97.6,35.0,Indiana,10.0
15,Villanova,2,208,E,North Dakota St.,15,96,E,10.0,10.0,...,-3.91,239.0,-1.84,240.0,101.8,193.0,105.7,308.0,North Dakota St.,15.0
16,Baylor,1,298,S,Boston University,16,135,S,5.0,5.0,...,-4.98,264.0,0.04,180.0,100.6,245.0,105.6,300.0,Boston University,16.0
17,Marquette,8,33,S,Arizona,9,81,S,NaN,NaN,...,7.72,50.0,2.41,92.0,106.5,38.0,98.8,62.0,Arizona,9.0
18,Ohio St.,5,163,S,Yale,12,189,S,19.0,19.0,...,0.22,143.0,3.64,63.0,102.1,179.0,101.9,120.0,Yale,12.0
19,Butler,4,167,S,Bradley,13,90,S,23.0,23.0,...,-0.51,161.0,-4.10,303.0,101.6,209.0,102.2,129.0,Bradley,13.0
20,Virginia,6,349,S,Wichita St.,11,148,S,16.0,16.0,...,4.78,81.0,-1.25,223.0,103.7,109.0,98.9,66.0,Wichita St.,11.0
21,Maryland,3,204,S,UC Irvine,14,85,S,NaN,NaN,...,-2.29,212.0,2.91,75.0,101.1,230.0,103.4,192.0,UC Irvine,14.0
22,Providence,7,125,S,LSU,10,109,S,NaN,NaN,...,7.18,56.0,2.01,103.0,105.8,61.0,98.6,55.0,LSU,10.0
23,Florida St.,2,203,S,Northern Kentucky,15,41,S,NaN,NaN,...,-5.16,270.0,-0.21,185.0,100.0,267.0,105.2,279.0,Northern Kentucky,15.0
24,Gonzaga,1,1,W,Siena,16,307,W,2.0,2.0,...,-5.42,277.0,0.29,171.0,98.3,329.0,103.7,205.0,Siena,16.0
25,Houston,8,130,W,Colorado,9,184,W,22.0,22.0,...,7.42,52.0,2.77,78.0,105.5,66.0,98.0,43.0,Colorado,9.0
26,Penn State,5,77,W,Stephen F. Austin,12,37,W,NaN,NaN,...,-8.13,338.0,0.55,162.0,98.6,325.0,106.7,337.0,Stephen F. Austin,12.0
27,Oregon,4,47,W,New Mexico St.,13,120,W,13.0,13.0,...,1.74,117.0,-4.31,305.0,103.7,108.0,102.0,124.0,New Mexico St.,13.0
28,BYU,6,6,W,Stanford,11,241,W,18.0,18.0,...,4.97,79.0,-4.02,301.0,104.2,101.0,99.2,71.0,Stanford,11.0
29,Seton Hall,3,117,W,Hofstra,14,19,W,15.0,15.0,...,-4.37,248.0,-4.39,308.0,101.1,228.0,105.5,295.0,Hofstra,14.0
30,Iowa,7,50,W,Xavier,10,205,W,25.0,25.0,...,-0.67,166.0,-1.18,219.0,102.2,173.0,102.9,167.0,Xavier,10.0
31,San Diego St.,2,66,W,E. Washington,15,138,W,6.0,6.0,...,-1.53,190.0,3.14,71.0,102.0,185.0,103.5,197.0,E. Washington,15.0

In [14]:
#SECOND ROUND#
SR20 = SR20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
SR20 = SR20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
SR20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,Florida,9,220,MW,1.0,1.0,...,6.53,64.0,1.28,136.0,106.7,36.0,100.2,88.0,Florida,9.0
1,ETSU,12,44,MW,Vermont,13,168,MW,NaN,NaN,...,-5.44,280.0,1.80,110.0,98.7,319.0,104.2,234.0,Vermont,13.0
2,Illinois,6,107,MW,Duke,3,27,MW,21.0,21.0,...,7.28,54.0,2.60,85.0,106.0,53.0,98.7,58.0,Duke,3.0
3,Utah St.,10,7,MW,Creighton,2,38,MW,NaN,NaN,...,10.72,21.0,2.69,81.0,107.9,18.0,97.2,22.0,Creighton,2.0
4,Dayton,1,26,E,Saint Mary's,8,18,E,3.0,3.0,...,4.46,88.0,-0.32,188.0,105.4,70.0,100.9,97.0,Saint Mary's,8.0
5,Auburn,5,129,E,Louisville,4,134,E,20.0,20.0,...,7.10,58.0,-1.09,216.0,105.3,75.0,98.2,48.0,Louisville,4.0
6,West Virginia,6,232,E,Michigan St,3,78,E,24.0,24.0,...,12.04,7.0,1.83,109.0,108.6,5.0,96.5,14.0,Michigan St.,3.0
7,Indiana,10,132,E,Villanova,2,208,E,NaN,NaN,...,10.88,17.0,4.22,51.0,108.2,10.0,97.3,25.0,Villanova,2.0
8,Baylor,1,298,S,Arizona,9,81,S,5.0,5.0,...,7.72,50.0,2.41,92.0,106.5,38.0,98.8,62.0,Arizona,9.0
9,Ohio St,5,163,S,Butler,4,167,S,19.0,19.0,...,10.22,26.0,1.07,144.0,107.6,22.0,97.4,28.0,Butler,4.0
10,Wichita St,11,148,S,UC Irvine,14,85,S,NaN,NaN,...,-2.29,212.0,2.91,75.0,101.1,230.0,103.4,192.0,UC Irvine,14.0
11,Providence,7,125,S,Florida St,2,203,S,NaN,NaN,...,12.19,6.0,2.78,77.0,108.4,6.0,96.3,12.0,Florida St.,2.0
12,Gonzaga,1,1,W,Houston,8,130,W,2.0,2.0,...,6.33,68.0,2.56,88.0,104.2,99.0,97.9,38.0,Houston,8.0
13,Penn State,5,77,W,Oregon,4,47,W,NaN,NaN,...,8.15,42.0,4.11,54.0,105.6,62.0,97.4,30.0,Oregon,4.0
14,BYU,6,6,W,Seton Hall,3,117,W,18.0,18.0,...,11.48,12.0,4.86,41.0,108.4,7.0,96.9,19.0,Seton Hall,3.0
15,Iowa,7,50,W,San Diego St,2,66,W,25.0,25.0,...,2.98,101.0,-1.80,239.0,105.3,76.0,102.3,136.0,San Diego St.,2.0

In [15]:
#SWEET SIXTEEN#
SS20 = SS20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
SS20 = SS20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
SS20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,ETSU,12,44,MW,1.0,1.0,...,-1.96,201.0,-0.64,199.0,103.0,129.0,105.0,273.0,ETSU,12.0
1,Duke,3,27,MW,Utah St,10,7,MW,11.0,11.0,...,3.09,100.0,1.55,124.0,105.0,81.0,101.9,122.0,Utah St.,10.0
2,Dayton,1,26,E,Louisville,4,134,E,3.0,3.0,...,7.10,58.0,-1.09,216.0,105.3,75.0,98.2,48.0,Louisville,4.0
3,Michigan St,3,78,E,Villanova,2,208,E,9.0,9.0,...,10.88,17.0,4.22,51.0,108.2,10.0,97.3,25.0,Villanova,2.0
4,Baylor,1,298,S,Ohio St,5,163,S,5.0,5.0,...,11.10,16.0,-1.31,225.0,108.0,15.0,96.9,20.0,Ohio St.,5.0
5,Wichita St,11,148,S,Florida St,2,203,S,NaN,NaN,...,12.19,6.0,2.78,77.0,108.4,6.0,96.3,12.0,Florida St.,2.0
6,Gonzaga,1,1,W,Oregon,4,47,W,2.0,2.0,...,8.15,42.0,4.11,54.0,105.6,62.0,97.4,30.0,Oregon,4.0
7,BYU,6,6,W,San Diego St,2,66,W,18.0,18.0,...,2.98,101.0,-1.80,239.0,105.3,76.0,102.3,136.0,San Diego St.,2.0

In [16]:
#ELITE EIGHT#
EE20 = EE20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
EE20 = EE20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
EE20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,Duke,3,27,MW,1.0,1.0,...,7.28,54.0,2.60,85.0,106.0,53.0,98.7,58.0,Duke,3.0
1,Dayton,1,26,E,Michigan St,3,78,E,3.0,3.0,...,12.04,7.0,1.83,109.0,108.6,5.0,96.5,14.0,Michigan St.,3.0
2,Baylor,1,298,S,Florida St,2,203,S,5.0,5.0,...,12.19,6.0,2.78,77.0,108.4,6.0,96.3,12.0,Florida St.,2.0
3,Gonzaga,1,1,W,San Diego St,2,66,W,2.0,2.0,...,2.98,101.0,-1.80,239.0,105.3,76.0,102.3,136.0,San Diego St.,2.0

In [17]:
#FINAL FOUR#
F420 = F420.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
F420 = F420.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
F420

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,Michigan St,3,78,E,1.0,1.0,...,12.04,7.0,1.83,109.0,108.6,5.0,96.5,14.0,Michigan St.,3.0
1,Baylor,1,298,S,Gonzaga,1,1,W,5.0,5.0,...,2.42,109.0,-2.09,245.0,103.5,115.0,101.0,99.0,Gonzaga,1.0

In [79]:
#FINALS#
F20 = F20.merge(df20, left_on = 'TeamID', right_on = 'TeamID', suffixes = ('','_2'))
F20 = F20.merge(df20, left_on = 'OppID', right_on = 'TeamID', suffixes = ('', '_Opp'))
F20

,Team1,Seed1,TeamID,Region,Team2,Seed2,OppID,Region,AP20_Rnk,PS20_Rnk,...,KP20_Strength of Schedule_Opp,KP20_SOS Rk_Opp,KP20_Non-Conference Strength of Schedule_Opp,KP20_NCSOS Rk_Opp,KP20_Average Opponents Offensive Efficiency_Opp,KP20_AOOE Rk_Opp,KP20_Average Opponents Defensive Efficiency_Opp,KP20_AODE Rk_Opp,Team_Opp,Seed_Opp
0,Kansas,1,169,MW,Gonzaga,1,1,W,1.0,1.0,...,2.42,109.0,-2.09,245.0,103.5,115.0,101.0,99.0,Gonzaga,1.0

## Predicting

In [19]:
#FIRST FOUR#
model = ["OLS"]*15*len(FF20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(FF20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(FF20)

df = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df['Team1'] = ''
for team in FF20['Team1']:
    df['Team1'][x:x+15] = FF20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df['Seed1'] = ''
for seed in FF20['Seed1']:
    df['Seed1'][c:c+15] = FF20['Seed1'][d]
    c+=15
    d+=1

df['Score1'] = ''
a = 0
b = 0
for team in FF20['Team1']:
    df['Score1'][a] = -5.02543 + 0.976939*float(FF20['STA20_PPG'][b])
    df['Score1'][a+1] = -74.0071 + 1.00109*float(FF20['STA20_PPG'][b]) + 0.967846*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+2] = -70.1455 + 0.955968*float(FF20['STA20_PPG'][b]) + 0.473929*float(FF20['KP20_Strength of Schedule'][b]) + 0.92468*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+3] = -82.3881 + 0.970723*float(FF20['STA20_PPG'][b]) + 0.462304*float(FF20['KP20_Strength of Schedule'][b]) + 1.01973*float(FF20['STA20_PAPG_Opp'][b]) + 0.177797*float(FF20['STA20_W_Opp'][b])
    df['Score1'][a+4] = -63.6428 + 1.00052*float(FF20['STA20_PPG'][b]) + 0.446139*float(FF20['KP20_Strength of Schedule'][b]) + 1.05001*float(FF20['STA20_PAPG_Opp'][b]) - 0.369185*float(FF20['STA20_W_Opp'][b]) - 0.905853*float(FF20['STA20_L_Opp'][b])
    df['Score1'][a+5] = 15.902611 + 0.71384*float(FF20['STA20_PPG'][b])
    df['Score1'][a+6] = -48.426361 + 0.536223*float(FF20['STA20_PPG'][b]) + 1.172443*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+7] = -56.642701 + 0.562659*float(FF20['STA20_PPG'][b]) + 0.500212*float(FF20['KP20_Strength of Schedule'][b]) + 1.215311*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+8] = -37.650392 + 0.553086*float(FF20['STA20_PPG'][b]) + 0.50739*float(FF20['KP20_Strength of Schedule'][b]) + 1.07027*float(FF20['STA20_PAPG_Opp'][b]) - 0.321816*float(FF20['STA20_W_Opp'][b])
    df['Score1'][a+9] = 3.613461 + 0.560754*float(FF20['STA20_PPG'][b]) + 0.500846*float(FF20['KP20_Strength of Schedule'][b]) + 1.010908*float(FF20['STA20_PAPG_Opp'][b]) - 1.290625*float(FF20['STA20_W_Opp'][b]) - 1.315466*float(FF20['STA20_L_Opp'][b])
    df['Score1'][a+10] = 7.375406 + 0.821373*float(FF20['STA20_PPG'][b])
    df['Score1'][a+11] = -48.270106 + 0.719206*float(FF20['STA20_PPG'][b]) + 0.935473*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+12] = -52.982605 + 0.722385*float(FF20['STA20_PPG'][b]) + 0.511772*float(FF20['KP20_Strength of Schedule'][b]) + 0.955096*float(FF20['STA20_PAPG_Opp'][b])
    df['Score1'][a+13] = -49.184422 + 0.719624*float(FF20['STA20_PPG'][b]) + 0.514046*float(FF20['KP20_Strength of Schedule'][b]) + 0.92577*float(FF20['STA20_PAPG_Opp'][b]) - 0.061098*float(FF20['STA20_W_Opp'][b])
    df['Score1'][a+14] = -24.74616 + 0.736241*float(FF20['STA20_PPG'][b]) + 0.504309*float(FF20['KP20_Strength of Schedule'][b]) + 0.923679*float(FF20['STA20_PAPG_Opp'][b]) - 0.690474*float(FF20['STA20_W_Opp'][b]) - 0.947672*float(FF20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df['Team2'] = ''
for team in FF20['Team2']:
    df['Team2'][x1:x1+15] = FF20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df['Seed2'] = ''
for seed in FF20['Seed2']:
    df['Seed2'][c1:c1+15] = FF20['Seed2'][d1]
    c1+=15
    d1+=1

df['Score2'] = ''
a1 = 0
b1 = 0
for team in FF20['Team2']:
    df['Score2'][a1] = -5.02543 + 0.976939*float(FF20['STA20_PPG_Opp'][b1])
    df['Score2'][a1+1] = -74.0071 + 1.00109*float(FF20['STA20_PPG_Opp'][b1]) + 0.967846*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+2] = -70.1455 + 0.955968*float(FF20['STA20_PPG_Opp'][b1]) + 0.473929*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+3] = -82.3881 + 0.970723*float(FF20['STA20_PPG_Opp'][b1]) + 0.462304*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(FF20['STA20_PAPG'][b1]) + 0.177797*float(FF20['STA20_W'][b1])
    df['Score2'][a1+4] = -63.6428 + 1.00052*float(FF20['STA20_PPG_Opp'][b1]) + 0.446139*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(FF20['STA20_PAPG'][b1]) - 0.369185*float(FF20['STA20_W'][b1]) - 0.905853*float(FF20['STA20_L'][b1])
    df['Score2'][a1+5] = 15.902611 + 0.71384*float(FF20['STA20_PPG_Opp'][b1])
    df['Score2'][a1+6] = -48.426361 + 0.536223*float(FF20['STA20_PPG_Opp'][b1]) + 1.172443*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+7] = -56.642701 + 0.562659*float(FF20['STA20_PPG_Opp'][b1]) + 0.500212*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+8] = -37.650392 + 0.553086*float(FF20['STA20_PPG_Opp'][b1]) + 0.50739*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(FF20['STA20_PAPG'][b1]) - 0.321816*float(FF20['STA20_W'][b1])
    df['Score2'][a1+9] = 3.613461 + 0.560754*float(FF20['STA20_PPG_Opp'][b1]) + 0.500846*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(FF20['STA20_PAPG'][b1]) - 1.290625*float(FF20['STA20_W'][b1]) - 1.315466*float(FF20['STA20_L'][b1])
    df['Score2'][a1+10] = 7.375406 + 0.821373*float(FF20['STA20_PPG_Opp'][b1])
    df['Score2'][a1+11] = -48.270106 + 0.719206*float(FF20['STA20_PPG_Opp'][b1]) + 0.935473*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+12] = -52.982605 + 0.722385*float(FF20['STA20_PPG_Opp'][b1]) + 0.511772*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(FF20['STA20_PAPG'][b1])
    df['Score2'][a1+13] = -49.184422 + 0.719624*float(FF20['STA20_PPG_Opp'][b1]) + 0.514046*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(FF20['STA20_PAPG'][b1]) - 0.061098*float(FF20['STA20_W'][b1])
    df['Score2'][a1+14] = -24.74616 + 0.736241*float(FF20['STA20_PPG_Opp'][b1]) + 0.504309*float(FF20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(FF20['STA20_PAPG'][b1]) - 0.690474*float(FF20['STA20_W'][b1]) - 0.947672*float(FF20['STA20_L'][b1])
    a1+=15
    b1+=1

df['Winner'] = np.where(df['Score1'] > df['Score2'], df['Team1'], df['Team2'])
df

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Richmond,11,68.5601,Wichita St.,11,65.1566,Richmond
1,OLS,2018,2 Var,Richmond,11,63.1212,Wichita St.,11,62.5371,Richmond
2,OLS,2018,3 Var,Richmond,11,61.7127,Wichita St.,11,62.5401,Wichita St.
3,OLS,2018,4 Var,Richmond,11,60.7109,Wichita St.,11,61.916,Wichita St.
4,OLS,2018,5 Var,Richmond,11,63.7742,Wichita St.,11,65.278,Wichita St.
5,OLS,2019,1 Var,Richmond,11,69.6709,Wichita St.,11,67.184,Richmond
6,OLS,2019,2 Var,Richmond,11,66.7349,Wichita St.,11,68.3841,Wichita St.
7,OLS,2019,3 Var,Richmond,11,64.1741,Wichita St.,11,67.3204,Wichita St.
8,OLS,2019,4 Var,Richmond,11,65.8071,Wichita St.,11,68.2507,Wichita St.
9,OLS,2019,5 Var,Richmond,11,71.0442,Wichita St.,11,73.6107,Wichita St.
10,OLS,Total,1 Var,Richmond,11,69.2433,Wichita St.,11,66.3818,Richmond
11,OLS,Total,2 Var,Richmond,11,65.5614,Wichita St.,11,65.8622,Wichita St.
12,OLS,Total,3 Var,Richmond,11,63.2917,Wichita St.,11,65.1346,Wichita St.
13,OLS,Total,4 Var,Richmond,11,63.6106,Wichita St.,11,65.3208,Wichita St.
14,OLS,Total,5 Var,Richmond,11,67.092,Wichita St.,11,69.0279,Wichita St.
15,OLS,2018,1 Var,Stanford,11,62.8413,UCLA,11,62.8246,Stanford
16,OLS,2018,2 Var,Stanford,11,60.4455,UCLA,11,56.0106,Stanford
17,OLS,2018,3 Var,Stanford,11,60.633,UCLA,11,57.4339,Stanford
18,OLS,2018,4 Var,Stanford,11,59.1103,UCLA,11,55.6293,Stanford
19,OLS,2018,5 Var,Stanford,11,60.613,UCLA,11,56.411,Stanford
20,OLS,2019,1 Var,Stanford,11,65.4922,UCLA,11,65.48,Stanford
21,OLS,2019,2 Var,Stanford,11,67.4537,UCLA,11,62.0929,Stanford
22,OLS,2019,3 Var,Stanford,11,66.4348,UCLA,11,61.9733,Stanford
23,OLS,2019,4 Var,Stanford,11,68.9562,UCLA,11,64.8508,Stanford
24,OLS,2019,5 Var,Stanford,11,72.5461,UCLA,11,67.7284,Stanford
25,OLS,Total,1 Var,Stanford,11,64.4352,UCLA,11,64.4211,Stanford
26,OLS,Total,2 Var,Stanford,11,64.4293,UCLA,11,60.147,Stanford
27,OLS,Total,3 Var,Stanford,11,63.7971,UCLA,11,60.546,Stanford
28,OLS,Total,4 Var,Stanford,11,64.2872,UCLA,11,61.1139,Stanford
29,OLS,Total,5 Var,Stanford,11,66.361,UCLA,11,62.5462,Stanford
30,OLS,2018,1 Var,NC Central,16,63.1082,Robert Morris,16,63.1592,Robert Morris
31,OLS,2018,2 Var,NC Central,16,60.7135,Robert Morris,16,59.7097,NC Central
32,OLS,2018,3 Var,NC Central,16,54.2918,Robert Morris,16,54.5508,Robert Morris
33,OLS,2018,4 Var,NC Central,16,53.1122,Robert Morris,16,52.8828,NC Central
34,OLS,2018,5 Var,NC Central,16,52.4893,Robert Morris,16,54.1866,Robert Morris
35,OLS,2019,1 Var,NC Central,16,65.6872,Robert Morris,16,65.7244,Robert Morris
36,OLS,2019,2 Var,NC Central,16,67.5935,Robert Morris,16,66.3423,NC Central
37,OLS,2019,3 Var,NC Central,16,59.6187,Robert Morris,16,59.6076,NC Central
38,OLS,2019,4 Var,NC Central,16,61.7165,Robert Morris,16,62.5252,Robert Morris
39,OLS,2019,5 Var,NC Central,16,61.8002,Robert Morris,16,65.9104,Robert Morris
40,OLS,Total,1 Var,NC Central,16,64.6595,Robert Morris,16,64.7024,Robert Morris
41,OLS,Total,2 Var,NC Central,16,64.6204,Robert Morris,16,63.6373,NC Central
42,OLS,Total,3 Var,NC Central,16,56.8652,Robert Morris,16,57.176,Robert Morris
43,OLS,Total,4 Var,NC Central,16,57.2619,Robert Morris,16,57.7327,Robert Morris
44,OLS,Total,5 Var,NC Central,16,56.9511,Robert Morris,16,59.6064,Robert Morris
45,OLS,2018,1 Var,Prairie View,16,65.2531,Siena,16,65.5421,Siena
46,OLS,2018,2 Var,Prairie View,16,63.532,Siena,16,64.4209,Siena
47,OLS,2018,3 Var,Prairie View,16,57.4481,Siena,16,59.5058,Siena
48,OLS,2018,4 Var,Prairie View,16,56.3504,Siena,16,58.2632,Siena
49,OLS,2018,5 Var,Prairie View,16,59.4198,Siena,16,59.1482,Prairie View
50,OLS,2019,1 Var,Prairie View,16,67.2545,Siena,16,67.4657,Siena
51,OLS,2019,2 Var,Prairie View,16,69.5226,Siena,16,70.3993,Siena
52,OLS,2019,3 Var,Prairie View,16,62.1234,Siena,16,64.3098,Siena
53,OLS,2019,4 Var,Prairie View,16,64.1143,Siena,16,66.5491,Siena
54,OLS,2019,5 Var,Prairie View,16,69.4323,Siena,16,68.8387,Prairie View
55,OLS,Total,1 Var,Prairie View,16,66.4629,Siena,16,66.7059,Siena
56,OLS,Total,2 Var,Prairie View,16,66.7993,Siena,16,67.585,Siena
57,OLS,Total,3 Var,Prairie View,16,59.5651,Siena,16,61.6689,Siena
58,OLS,Total,4 Var,Prairie View,16,59.9393,Siena,16,62.0911,Siena
59,OLS,Total,5 Var,Prairie View,16,63.4447,Siena,16,63.3617,Prairie View

In [20]:
#FIRST ROUND#
model = ["OLS"]*15*len(FR20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(FR20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(FR20)

df1 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df1['Team1'] = ''
for team in FR20['Team1']:
    df1['Team1'][x:x+15] = FR20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df1['Seed1'] = ''
for seed in FR20['Seed1']:
    df1['Seed1'][c:c+15] = FR20['Seed1'][d]
    c+=15
    d+=1

df1['Score1'] = ''
a = 0
b = 0
for team in FR20['Team1']:
    df1['Score1'][a] = -5.02543 + 0.976939*float(FR20['STA20_PPG'][b])
    df1['Score1'][a+1] = -74.0071 + 1.00109*float(FR20['STA20_PPG'][b]) + 0.967846*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+2] = -70.1455 + 0.955968*float(FR20['STA20_PPG'][b]) + 0.473929*float(FR20['KP20_Strength of Schedule'][b]) + 0.92468*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+3] = -82.3881 + 0.970723*float(FR20['STA20_PPG'][b]) + 0.462304*float(FR20['KP20_Strength of Schedule'][b]) + 1.01973*float(FR20['STA20_PAPG_Opp'][b]) + 0.177797*float(FR20['STA20_W_Opp'][b])
    df1['Score1'][a+4] = -63.6428 + 1.00052*float(FR20['STA20_PPG'][b]) + 0.446139*float(FR20['KP20_Strength of Schedule'][b]) + 1.05001*float(FR20['STA20_PAPG_Opp'][b]) - 0.369185*float(FR20['STA20_W_Opp'][b]) - 0.905853*float(FR20['STA20_L_Opp'][b])
    df1['Score1'][a+5] = 15.902611 + 0.71384*float(FR20['STA20_PPG'][b])
    df1['Score1'][a+6] = -48.426361 + 0.536223*float(FR20['STA20_PPG'][b]) + 1.172443*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+7] = -56.642701 + 0.562659*float(FR20['STA20_PPG'][b]) + 0.500212*float(FR20['KP20_Strength of Schedule'][b]) + 1.215311*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+8] = -37.650392 + 0.553086*float(FR20['STA20_PPG'][b]) + 0.50739*float(FR20['KP20_Strength of Schedule'][b]) + 1.07027*float(FR20['STA20_PAPG_Opp'][b]) - 0.321816*float(FR20['STA20_W_Opp'][b])
    df1['Score1'][a+9] = 3.613461 + 0.560754*float(FR20['STA20_PPG'][b]) + 0.500846*float(FR20['KP20_Strength of Schedule'][b]) + 1.010908*float(FR20['STA20_PAPG_Opp'][b]) - 1.290625*float(FR20['STA20_W_Opp'][b]) - 1.315466*float(FR20['STA20_L_Opp'][b])
    df1['Score1'][a+10] = 7.375406 + 0.821373*float(FR20['STA20_PPG'][b])
    df1['Score1'][a+11] = -48.270106 + 0.719206*float(FR20['STA20_PPG'][b]) + 0.935473*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+12] = -52.982605 + 0.722385*float(FR20['STA20_PPG'][b]) + 0.511772*float(FR20['KP20_Strength of Schedule'][b]) + 0.955096*float(FR20['STA20_PAPG_Opp'][b])
    df1['Score1'][a+13] = -49.184422 + 0.719624*float(FR20['STA20_PPG'][b]) + 0.514046*float(FR20['KP20_Strength of Schedule'][b]) + 0.92577*float(FR20['STA20_PAPG_Opp'][b]) - 0.061098*float(FR20['STA20_W_Opp'][b])
    df1['Score1'][a+14] = -24.74616 + 0.736241*float(FR20['STA20_PPG'][b]) + 0.504309*float(FR20['KP20_Strength of Schedule'][b]) + 0.923679*float(FR20['STA20_PAPG_Opp'][b]) - 0.690474*float(FR20['STA20_W_Opp'][b]) - 0.947672*float(FR20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df1['Team2'] = ''
for team in FR20['Team2']:
    df1['Team2'][x1:x1+15] = FR20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df1['Seed2'] = ''
for seed in FR20['Seed2']:
    df1['Seed2'][c1:c1+15] = FR20['Seed2'][d1]
    c1+=15
    d1+=1

df1['Score2'] = ''
a1 = 0
b1 = 0
for team in FR20['Team2']:
    df1['Score2'][a1] = -5.02543 + 0.976939*float(FR20['STA20_PPG_Opp'][b1])
    df1['Score2'][a1+1] = -74.0071 + 1.00109*float(FR20['STA20_PPG_Opp'][b1]) + 0.967846*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+2] = -70.1455 + 0.955968*float(FR20['STA20_PPG_Opp'][b1]) + 0.473929*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+3] = -82.3881 + 0.970723*float(FR20['STA20_PPG_Opp'][b1]) + 0.462304*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(FR20['STA20_PAPG'][b1]) + 0.177797*float(FR20['STA20_W'][b1])
    df1['Score2'][a1+4] = -63.6428 + 1.00052*float(FR20['STA20_PPG_Opp'][b1]) + 0.446139*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(FR20['STA20_PAPG'][b1]) - 0.369185*float(FR20['STA20_W'][b1]) - 0.905853*float(FR20['STA20_L'][b1])
    df1['Score2'][a1+5] = 15.902611 + 0.71384*float(FR20['STA20_PPG_Opp'][b1])
    df1['Score2'][a1+6] = -48.426361 + 0.536223*float(FR20['STA20_PPG_Opp'][b1]) + 1.172443*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+7] = -56.642701 + 0.562659*float(FR20['STA20_PPG_Opp'][b1]) + 0.500212*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+8] = -37.650392 + 0.553086*float(FR20['STA20_PPG_Opp'][b1]) + 0.50739*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(FR20['STA20_PAPG'][b1]) - 0.321816*float(FR20['STA20_W'][b1])
    df1['Score2'][a1+9] = 3.613461 + 0.560754*float(FR20['STA20_PPG_Opp'][b1]) + 0.500846*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(FR20['STA20_PAPG'][b1]) - 1.290625*float(FR20['STA20_W'][b1]) - 1.315466*float(FR20['STA20_L'][b1])
    df1['Score2'][a1+10] = 7.375406 + 0.821373*float(FR20['STA20_PPG_Opp'][b1])
    df1['Score2'][a1+11] = -48.270106 + 0.719206*float(FR20['STA20_PPG_Opp'][b1]) + 0.935473*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+12] = -52.982605 + 0.722385*float(FR20['STA20_PPG_Opp'][b1]) + 0.511772*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(FR20['STA20_PAPG'][b1])
    df1['Score2'][a1+13] = -49.184422 + 0.719624*float(FR20['STA20_PPG_Opp'][b1]) + 0.514046*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(FR20['STA20_PAPG'][b1]) - 0.061098*float(FR20['STA20_W'][b1])
    df1['Score2'][a1+14] = -24.74616 + 0.736241*float(FR20['STA20_PPG_Opp'][b1]) + 0.504309*float(FR20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(FR20['STA20_PAPG'][b1]) - 0.690474*float(FR20['STA20_W'][b1]) - 0.947672*float(FR20['STA20_L'][b1])
    a1+=15
    b1+=1

df1['Winner'] = np.where(df1['Score1'] > df1['Score2'], df1['Team1'], df1['Team2'])
df1

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,Robert Morris,16,63.1592,Kansas
1,OLS,2018,2 Var,Kansas,1,65.5575,Robert Morris,16,54.6207,Kansas
2,OLS,2018,3 Var,Kansas,1,69.1591,Robert Morris,16,49.6888,Kansas
3,OLS,2018,4 Var,Kansas,1,67.7997,Robert Morris,16,49.299,Kansas
4,OLS,2018,5 Var,Kansas,1,66.9715,Robert Morris,16,54.0323,Kansas
...,...,...,...,...,...,...,...,...,...,...
475,OLS,Total,1 Var,San Diego St.,2,68.85,E. Washington,15,73.8536,E. Washington
476,OLS,Total,2 Var,San Diego St.,2,73.6664,E. Washington,15,65.5706,San Diego St.
477,OLS,Total,3 Var,San Diego St.,2,72.1456,E. Washington,15,61.4993,San Diego St.
478,OLS,Total,4 Var,San Diego St.,2,72.2036,E. Washington,15,61.4936,San Diego St.
479,OLS,Total,5 Var,San Diego St.,2,75.6472,E. Washington,15,66.3907,San Diego St.

In [21]:
#SECOND ROUND#
model = ["OLS"]*15*len(SR20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(SR20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(SR20)

df2 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df2['Team1'] = ''
for team in SR20['Team1']:
    df2['Team1'][x:x+15] = SR20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df2['Seed1'] = ''
for seed in SR20['Seed1']:
    df2['Seed1'][c:c+15] = SR20['Seed1'][d]
    c+=15
    d+=1

df2['Score1'] = ''
a = 0
b = 0
for team in SR20['Team1']:
    df2['Score1'][a] = -5.02543 + 0.976939*float(SR20['STA20_PPG'][b])
    df2['Score1'][a+1] = -74.0071 + 1.00109*float(SR20['STA20_PPG'][b]) + 0.967846*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+2] = -70.1455 + 0.955968*float(SR20['STA20_PPG'][b]) + 0.473929*float(SR20['KP20_Strength of Schedule'][b]) + 0.92468*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+3] = -82.3881 + 0.970723*float(SR20['STA20_PPG'][b]) + 0.462304*float(SR20['KP20_Strength of Schedule'][b]) + 1.01973*float(SR20['STA20_PAPG_Opp'][b]) + 0.177797*float(SR20['STA20_W_Opp'][b])
    df2['Score1'][a+4] = -63.6428 + 1.00052*float(SR20['STA20_PPG'][b]) + 0.446139*float(SR20['KP20_Strength of Schedule'][b]) + 1.05001*float(SR20['STA20_PAPG_Opp'][b]) - 0.369185*float(SR20['STA20_W_Opp'][b]) - 0.905853*float(SR20['STA20_L_Opp'][b])
    df2['Score1'][a+5] = 15.902611 + 0.71384*float(SR20['STA20_PPG'][b])
    df2['Score1'][a+6] = -48.426361 + 0.536223*float(SR20['STA20_PPG'][b]) + 1.172443*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+7] = -56.642701 + 0.562659*float(SR20['STA20_PPG'][b]) + 0.500212*float(SR20['KP20_Strength of Schedule'][b]) + 1.215311*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+8] = -37.650392 + 0.553086*float(SR20['STA20_PPG'][b]) + 0.50739*float(SR20['KP20_Strength of Schedule'][b]) + 1.07027*float(SR20['STA20_PAPG_Opp'][b]) - 0.321816*float(SR20['STA20_W_Opp'][b])
    df2['Score1'][a+9] = 3.613461 + 0.560754*float(SR20['STA20_PPG'][b]) + 0.500846*float(SR20['KP20_Strength of Schedule'][b]) + 1.010908*float(SR20['STA20_PAPG_Opp'][b]) - 1.290625*float(SR20['STA20_W_Opp'][b]) - 1.315466*float(SR20['STA20_L_Opp'][b])
    df2['Score1'][a+10] = 7.375406 + 0.821373*float(SR20['STA20_PPG'][b])
    df2['Score1'][a+11] = -48.270106 + 0.719206*float(SR20['STA20_PPG'][b]) + 0.935473*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+12] = -52.982605 + 0.722385*float(SR20['STA20_PPG'][b]) + 0.511772*float(SR20['KP20_Strength of Schedule'][b]) + 0.955096*float(SR20['STA20_PAPG_Opp'][b])
    df2['Score1'][a+13] = -49.184422 + 0.719624*float(SR20['STA20_PPG'][b]) + 0.514046*float(SR20['KP20_Strength of Schedule'][b]) + 0.92577*float(SR20['STA20_PAPG_Opp'][b]) - 0.061098*float(SR20['STA20_W_Opp'][b])
    df2['Score1'][a+14] = -24.74616 + 0.736241*float(SR20['STA20_PPG'][b]) + 0.504309*float(SR20['KP20_Strength of Schedule'][b]) + 0.923679*float(SR20['STA20_PAPG_Opp'][b]) - 0.690474*float(SR20['STA20_W_Opp'][b]) - 0.947672*float(SR20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df2['Team2'] = ''
for team in SR20['Team2']:
    df2['Team2'][x1:x1+15] = SR20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df2['Seed2'] = ''
for seed in SR20['Seed2']:
    df2['Seed2'][c1:c1+15] = SR20['Seed2'][d1]
    c1+=15
    d1+=1

df2['Score2'] = ''
a1 = 0
b1 = 0
for team in SR20['Team2']:
    df2['Score2'][a1] = -5.02543 + 0.976939*float(SR20['STA20_PPG_Opp'][b1])
    df2['Score2'][a1+1] = -74.0071 + 1.00109*float(SR20['STA20_PPG_Opp'][b1]) + 0.967846*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+2] = -70.1455 + 0.955968*float(SR20['STA20_PPG_Opp'][b1]) + 0.473929*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+3] = -82.3881 + 0.970723*float(SR20['STA20_PPG_Opp'][b1]) + 0.462304*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(SR20['STA20_PAPG'][b1]) + 0.177797*float(SR20['STA20_W'][b1])
    df2['Score2'][a1+4] = -63.6428 + 1.00052*float(SR20['STA20_PPG_Opp'][b1]) + 0.446139*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(SR20['STA20_PAPG'][b1]) - 0.369185*float(SR20['STA20_W'][b1]) - 0.905853*float(SR20['STA20_L'][b1])
    df2['Score2'][a1+5] = 15.902611 + 0.71384*float(SR20['STA20_PPG_Opp'][b1])
    df2['Score2'][a1+6] = -48.426361 + 0.536223*float(SR20['STA20_PPG_Opp'][b1]) + 1.172443*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+7] = -56.642701 + 0.562659*float(SR20['STA20_PPG_Opp'][b1]) + 0.500212*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+8] = -37.650392 + 0.553086*float(SR20['STA20_PPG_Opp'][b1]) + 0.50739*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(SR20['STA20_PAPG'][b1]) - 0.321816*float(SR20['STA20_W'][b1])
    df2['Score2'][a1+9] = 3.613461 + 0.560754*float(SR20['STA20_PPG_Opp'][b1]) + 0.500846*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(SR20['STA20_PAPG'][b1]) - 1.290625*float(SR20['STA20_W'][b1]) - 1.315466*float(SR20['STA20_L'][b1])
    df2['Score2'][a1+10] = 7.375406 + 0.821373*float(SR20['STA20_PPG_Opp'][b1])
    df2['Score2'][a1+11] = -48.270106 + 0.719206*float(SR20['STA20_PPG_Opp'][b1]) + 0.935473*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+12] = -52.982605 + 0.722385*float(SR20['STA20_PPG_Opp'][b1]) + 0.511772*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(SR20['STA20_PAPG'][b1])
    df2['Score2'][a1+13] = -49.184422 + 0.719624*float(SR20['STA20_PPG_Opp'][b1]) + 0.514046*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(SR20['STA20_PAPG'][b1]) - 0.061098*float(SR20['STA20_W'][b1])
    df2['Score2'][a1+14] = -24.74616 + 0.736241*float(SR20['STA20_PPG_Opp'][b1]) + 0.504309*float(SR20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(SR20['STA20_PAPG'][b1]) - 0.690474*float(SR20['STA20_W'][b1]) - 0.947672*float(SR20['STA20_L'][b1])
    a1+=15
    b1+=1

df2['Winner'] = np.where(df2['Score1'] > df2['Score2'], df2['Team1'], df2['Team2'])
df2

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,Florida,9,69.0388,Florida
1,OLS,2018,2 Var,Kansas,1,68.0411,Florida,9,60.6457,Kansas
2,OLS,2018,3 Var,Kansas,1,71.532,Florida,9,61.5606,Kansas
3,OLS,2018,4 Var,Kansas,1,70.4165,Florida,9,61.1095,Kansas
4,OLS,2018,5 Var,Kansas,1,71.4778,Florida,9,65.8134,Kansas
...,...,...,...,...,...,...,...,...,...,...
235,OLS,Total,1 Var,Iowa,7,71.2305,San Diego St,2,68.85,Iowa
236,OLS,Total,2 Var,Iowa,7,63.2738,San Diego St,2,73.1836,San Diego St
237,OLS,Total,3 Var,Iowa,7,66.2599,San Diego St,2,71.6527,San Diego St
238,OLS,Total,4 Var,Iowa,7,66.2945,San Diego St,2,71.909,San Diego St
239,OLS,Total,5 Var,Iowa,7,71.004,San Diego St,2,74.3989,San Diego St

In [22]:
#SWEET SIXTEEN#
model = ["OLS"]*15*len(SS20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(SS20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(SS20)

df3 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df3['Team1'] = ''
for team in SS20['Team1']:
    df3['Team1'][x:x+15] = SS20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df3['Seed1'] = ''
for seed in SS20['Seed1']:
    df3['Seed1'][c:c+15] = SS20['Seed1'][d]
    c+=15
    d+=1

df3['Score1'] = ''
a = 0
b = 0
for team in SS20['Team1']:
    df3['Score1'][a] = -5.02543 + 0.976939*float(SS20['STA20_PPG'][b])
    df3['Score1'][a+1] = -74.0071 + 1.00109*float(SS20['STA20_PPG'][b]) + 0.967846*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+2] = -70.1455 + 0.955968*float(SS20['STA20_PPG'][b]) + 0.473929*float(SS20['KP20_Strength of Schedule'][b]) + 0.92468*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+3] = -82.3881 + 0.970723*float(SS20['STA20_PPG'][b]) + 0.462304*float(SS20['KP20_Strength of Schedule'][b]) + 1.01973*float(SS20['STA20_PAPG_Opp'][b]) + 0.177797*float(SS20['STA20_W_Opp'][b])
    df3['Score1'][a+4] = -63.6428 + 1.00052*float(SS20['STA20_PPG'][b]) + 0.446139*float(SS20['KP20_Strength of Schedule'][b]) + 1.05001*float(SS20['STA20_PAPG_Opp'][b]) - 0.369185*float(SS20['STA20_W_Opp'][b]) - 0.905853*float(SS20['STA20_L_Opp'][b])
    df3['Score1'][a+5] = 15.902611 + 0.71384*float(SS20['STA20_PPG'][b])
    df3['Score1'][a+6] = -48.426361 + 0.536223*float(SS20['STA20_PPG'][b]) + 1.172443*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+7] = -56.642701 + 0.562659*float(SS20['STA20_PPG'][b]) + 0.500212*float(SS20['KP20_Strength of Schedule'][b]) + 1.215311*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+8] = -37.650392 + 0.553086*float(SS20['STA20_PPG'][b]) + 0.50739*float(SS20['KP20_Strength of Schedule'][b]) + 1.07027*float(SS20['STA20_PAPG_Opp'][b]) - 0.321816*float(SS20['STA20_W_Opp'][b])
    df3['Score1'][a+9] = 3.613461 + 0.560754*float(SS20['STA20_PPG'][b]) + 0.500846*float(SS20['KP20_Strength of Schedule'][b]) + 1.010908*float(SS20['STA20_PAPG_Opp'][b]) - 1.290625*float(SS20['STA20_W_Opp'][b]) - 1.315466*float(SS20['STA20_L_Opp'][b])
    df3['Score1'][a+10] = 7.375406 + 0.821373*float(SS20['STA20_PPG'][b])
    df3['Score1'][a+11] = -48.270106 + 0.719206*float(SS20['STA20_PPG'][b]) + 0.935473*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+12] = -52.982605 + 0.722385*float(SS20['STA20_PPG'][b]) + 0.511772*float(SS20['KP20_Strength of Schedule'][b]) + 0.955096*float(SS20['STA20_PAPG_Opp'][b])
    df3['Score1'][a+13] = -49.184422 + 0.719624*float(SS20['STA20_PPG'][b]) + 0.514046*float(SS20['KP20_Strength of Schedule'][b]) + 0.92577*float(SS20['STA20_PAPG_Opp'][b]) - 0.061098*float(SS20['STA20_W_Opp'][b])
    df3['Score1'][a+14] = -24.74616 + 0.736241*float(SS20['STA20_PPG'][b]) + 0.504309*float(SS20['KP20_Strength of Schedule'][b]) + 0.923679*float(SS20['STA20_PAPG_Opp'][b]) - 0.690474*float(SS20['STA20_W_Opp'][b]) - 0.947672*float(SS20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df3['Team2'] = ''
for team in SS20['Team2']:
    df3['Team2'][x1:x1+15] = SS20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df3['Seed2'] = ''
for seed in SS20['Seed2']:
    df3['Seed2'][c1:c1+15] = SS20['Seed2'][d1]
    c1+=15
    d1+=1

df3['Score2'] = ''
a1 = 0
b1 = 0
for team in SS20['Team2']:
    df3['Score2'][a1] = -5.02543 + 0.976939*float(SS20['STA20_PPG_Opp'][b1])
    df3['Score2'][a1+1] = -74.0071 + 1.00109*float(SS20['STA20_PPG_Opp'][b1]) + 0.967846*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+2] = -70.1455 + 0.955968*float(SS20['STA20_PPG_Opp'][b1]) + 0.473929*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+3] = -82.3881 + 0.970723*float(SS20['STA20_PPG_Opp'][b1]) + 0.462304*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(SS20['STA20_PAPG'][b1]) + 0.177797*float(SS20['STA20_W'][b1])
    df3['Score2'][a1+4] = -63.6428 + 1.00052*float(SS20['STA20_PPG_Opp'][b1]) + 0.446139*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(SS20['STA20_PAPG'][b1]) - 0.369185*float(SS20['STA20_W'][b1]) - 0.905853*float(SS20['STA20_L'][b1])
    df3['Score2'][a1+5] = 15.902611 + 0.71384*float(SS20['STA20_PPG_Opp'][b1])
    df3['Score2'][a1+6] = -48.426361 + 0.536223*float(SS20['STA20_PPG_Opp'][b1]) + 1.172443*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+7] = -56.642701 + 0.562659*float(SS20['STA20_PPG_Opp'][b1]) + 0.500212*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+8] = -37.650392 + 0.553086*float(SS20['STA20_PPG_Opp'][b1]) + 0.50739*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(SS20['STA20_PAPG'][b1]) - 0.321816*float(SS20['STA20_W'][b1])
    df3['Score2'][a1+9] = 3.613461 + 0.560754*float(SS20['STA20_PPG_Opp'][b1]) + 0.500846*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(SS20['STA20_PAPG'][b1]) - 1.290625*float(SS20['STA20_W'][b1]) - 1.315466*float(SS20['STA20_L'][b1])
    df3['Score2'][a1+10] = 7.375406 + 0.821373*float(SS20['STA20_PPG_Opp'][b1])
    df3['Score2'][a1+11] = -48.270106 + 0.719206*float(SS20['STA20_PPG_Opp'][b1]) + 0.935473*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+12] = -52.982605 + 0.722385*float(SS20['STA20_PPG_Opp'][b1]) + 0.511772*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(SS20['STA20_PAPG'][b1])
    df3['Score2'][a1+13] = -49.184422 + 0.719624*float(SS20['STA20_PPG_Opp'][b1]) + 0.514046*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(SS20['STA20_PAPG'][b1]) - 0.061098*float(SS20['STA20_W'][b1])
    df3['Score2'][a1+14] = -24.74616 + 0.736241*float(SS20['STA20_PPG_Opp'][b1]) + 0.504309*float(SS20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(SS20['STA20_PAPG'][b1]) - 0.690474*float(SS20['STA20_W'][b1]) - 0.947672*float(SS20['STA20_L'][b1])
    a1+=15
    b1+=1

df3['Winner'] = np.where(df3['Score1'] > df3['Score2'], df3['Team1'], df3['Team2'])
df3

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,ETSU,12,71.7383,ETSU
1,OLS,2018,2 Var,Kansas,1,61.743,ETSU,12,63.4119,ETSU
2,OLS,2018,3 Var,Kansas,1,65.5148,ETSU,12,60.1785,Kansas
3,OLS,2018,4 Var,Kansas,1,65.5587,ETSU,12,59.8669,Kansas
4,OLS,2018,5 Var,Kansas,1,68.1999,ETSU,12,64.7904,Kansas
...,...,...,...,...,...,...,...,...,...,...
115,OLS,Total,1 Var,BYU,6,72.7772,San Diego St,2,68.85,BYU
116,OLS,Total,2 Var,BYU,6,64.6281,San Diego St,2,69.5209,San Diego St
117,OLS,Total,3 Var,BYU,6,64.437,San Diego St,2,67.9132,San Diego St
118,OLS,Total,4 Var,BYU,6,64.4522,San Diego St,2,68.04,San Diego St
119,OLS,Total,5 Var,BYU,6,69.2536,San Diego St,2,70.8635,San Diego St

In [23]:
#ELITE EIGHT#
model = ["OLS"]*15*len(EE20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(EE20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(EE20)

df4 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df4['Team1'] = ''
for team in EE20['Team1']:
    df4['Team1'][x:x+15] = EE20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df4['Seed1'] = ''
for seed in EE20['Seed1']:
    df4['Seed1'][c:c+15] = EE20['Seed1'][d]
    c+=15
    d+=1

df4['Score1'] = ''
a = 0
b = 0
for team in EE20['Team1']:
    df4['Score1'][a] = -5.02543 + 0.976939*float(EE20['STA20_PPG'][b])
    df4['Score1'][a+1] = -74.0071 + 1.00109*float(EE20['STA20_PPG'][b]) + 0.967846*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+2] = -70.1455 + 0.955968*float(EE20['STA20_PPG'][b]) + 0.473929*float(EE20['KP20_Strength of Schedule'][b]) + 0.92468*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+3] = -82.3881 + 0.970723*float(EE20['STA20_PPG'][b]) + 0.462304*float(EE20['KP20_Strength of Schedule'][b]) + 1.01973*float(EE20['STA20_PAPG_Opp'][b]) + 0.177797*float(EE20['STA20_W_Opp'][b])
    df4['Score1'][a+4] = -63.6428 + 1.00052*float(EE20['STA20_PPG'][b]) + 0.446139*float(EE20['KP20_Strength of Schedule'][b]) + 1.05001*float(EE20['STA20_PAPG_Opp'][b]) - 0.369185*float(EE20['STA20_W_Opp'][b]) - 0.905853*float(EE20['STA20_L_Opp'][b])
    df4['Score1'][a+5] = 15.902611 + 0.71384*float(EE20['STA20_PPG'][b])
    df4['Score1'][a+6] = -48.426361 + 0.536223*float(EE20['STA20_PPG'][b]) + 1.172443*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+7] = -56.642701 + 0.562659*float(EE20['STA20_PPG'][b]) + 0.500212*float(EE20['KP20_Strength of Schedule'][b]) + 1.215311*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+8] = -37.650392 + 0.553086*float(EE20['STA20_PPG'][b]) + 0.50739*float(EE20['KP20_Strength of Schedule'][b]) + 1.07027*float(EE20['STA20_PAPG_Opp'][b]) - 0.321816*float(EE20['STA20_W_Opp'][b])
    df4['Score1'][a+9] = 3.613461 + 0.560754*float(EE20['STA20_PPG'][b]) + 0.500846*float(EE20['KP20_Strength of Schedule'][b]) + 1.010908*float(EE20['STA20_PAPG_Opp'][b]) - 1.290625*float(EE20['STA20_W_Opp'][b]) - 1.315466*float(EE20['STA20_L_Opp'][b])
    df4['Score1'][a+10] = 7.375406 + 0.821373*float(EE20['STA20_PPG'][b])
    df4['Score1'][a+11] = -48.270106 + 0.719206*float(EE20['STA20_PPG'][b]) + 0.935473*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+12] = -52.982605 + 0.722385*float(EE20['STA20_PPG'][b]) + 0.511772*float(EE20['KP20_Strength of Schedule'][b]) + 0.955096*float(EE20['STA20_PAPG_Opp'][b])
    df4['Score1'][a+13] = -49.184422 + 0.719624*float(EE20['STA20_PPG'][b]) + 0.514046*float(EE20['KP20_Strength of Schedule'][b]) + 0.92577*float(EE20['STA20_PAPG_Opp'][b]) - 0.061098*float(EE20['STA20_W_Opp'][b])
    df4['Score1'][a+14] = -24.74616 + 0.736241*float(EE20['STA20_PPG'][b]) + 0.504309*float(EE20['KP20_Strength of Schedule'][b]) + 0.923679*float(EE20['STA20_PAPG_Opp'][b]) - 0.690474*float(EE20['STA20_W_Opp'][b]) - 0.947672*float(EE20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df4['Team2'] = ''
for team in EE20['Team2']:
    df4['Team2'][x1:x1+15] = EE20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df4['Seed2'] = ''
for seed in EE20['Seed2']:
    df4['Seed2'][c1:c1+15] = EE20['Seed2'][d1]
    c1+=15
    d1+=1

df4['Score2'] = ''
a1 = 0
b1 = 0
for team in EE20['Team2']:
    df4['Score2'][a1] = -5.02543 + 0.976939*float(EE20['STA20_PPG_Opp'][b1])
    df4['Score2'][a1+1] = -74.0071 + 1.00109*float(EE20['STA20_PPG_Opp'][b1]) + 0.967846*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+2] = -70.1455 + 0.955968*float(EE20['STA20_PPG_Opp'][b1]) + 0.473929*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+3] = -82.3881 + 0.970723*float(EE20['STA20_PPG_Opp'][b1]) + 0.462304*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(EE20['STA20_PAPG'][b1]) + 0.177797*float(EE20['STA20_W'][b1])
    df4['Score2'][a1+4] = -63.6428 + 1.00052*float(EE20['STA20_PPG_Opp'][b1]) + 0.446139*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(EE20['STA20_PAPG'][b1]) - 0.369185*float(EE20['STA20_W'][b1]) - 0.905853*float(EE20['STA20_L'][b1])
    df4['Score2'][a1+5] = 15.902611 + 0.71384*float(EE20['STA20_PPG_Opp'][b1])
    df4['Score2'][a1+6] = -48.426361 + 0.536223*float(EE20['STA20_PPG_Opp'][b1]) + 1.172443*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+7] = -56.642701 + 0.562659*float(EE20['STA20_PPG_Opp'][b1]) + 0.500212*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+8] = -37.650392 + 0.553086*float(EE20['STA20_PPG_Opp'][b1]) + 0.50739*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(EE20['STA20_PAPG'][b1]) - 0.321816*float(EE20['STA20_W'][b1])
    df4['Score2'][a1+9] = 3.613461 + 0.560754*float(EE20['STA20_PPG_Opp'][b1]) + 0.500846*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(EE20['STA20_PAPG'][b1]) - 1.290625*float(EE20['STA20_W'][b1]) - 1.315466*float(EE20['STA20_L'][b1])
    df4['Score2'][a1+10] = 7.375406 + 0.821373*float(EE20['STA20_PPG_Opp'][b1])
    df4['Score2'][a1+11] = -48.270106 + 0.719206*float(EE20['STA20_PPG_Opp'][b1]) + 0.935473*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+12] = -52.982605 + 0.722385*float(EE20['STA20_PPG_Opp'][b1]) + 0.511772*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(EE20['STA20_PAPG'][b1])
    df4['Score2'][a1+13] = -49.184422 + 0.719624*float(EE20['STA20_PPG_Opp'][b1]) + 0.514046*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(EE20['STA20_PAPG'][b1]) - 0.061098*float(EE20['STA20_W'][b1])
    df4['Score2'][a1+14] = -24.74616 + 0.736241*float(EE20['STA20_PPG_Opp'][b1]) + 0.504309*float(EE20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(EE20['STA20_PAPG'][b1]) - 0.690474*float(EE20['STA20_W'][b1]) - 0.947672*float(EE20['STA20_L'][b1])
    a1+=15
    b1+=1

df4['Winner'] = np.where(df4['Score1'] > df4['Score2'], df4['Team1'], df4['Team2'])
df4

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,Duke,3,75.5878,Duke
1,OLS,2018,2 Var,Kansas,1,66.4371,Duke,3,67.3566,Duke
2,OLS,2018,3 Var,Kansas,1,69.9996,Duke,3,68.3245,Kansas
3,OLS,2018,4 Var,Kansas,1,69.6155,Duke,3,67.9636,Kansas
4,OLS,2018,5 Var,Kansas,1,73.3268,Duke,3,72.8552,Kansas
5,OLS,2019,1 Var,Kansas,1,69.1413,Duke,3,74.8059,Duke
6,OLS,2019,2 Var,Kansas,1,71.2538,Duke,3,66.9993,Kansas
7,OLS,2019,3 Var,Kansas,1,74.2554,Duke,3,67.2084,Kansas
8,OLS,2019,4 Var,Kansas,1,74.7211,Duke,3,67.6468,Kansas
9,OLS,2019,5 Var,Kansas,1,80.3263,Duke,3,74.8189,Kansas
10,OLS,Total,1 Var,Kansas,1,68.6339,Duke,3,75.1519,Duke
11,OLS,Total,2 Var,Kansas,1,68.9507,Duke,3,67.8683,Kansas
12,OLS,Total,3 Var,Kansas,1,72.2881,Duke,3,68.3351,Kansas
13,OLS,Total,4 Var,Kansas,1,72.3885,Duke,3,68.4309,Kansas
14,OLS,Total,5 Var,Kansas,1,76.3802,Duke,3,73.5769,Kansas
15,OLS,2018,1 Var,Dayton,1,73.1297,Michigan St,3,69.1274,Dayton
16,OLS,2018,2 Var,Dayton,1,68.7403,Michigan St,3,64.4205,Dayton
17,OLS,2018,3 Var,Dayton,1,67.4961,Michigan St,3,67.7784,Michigan St
18,OLS,2018,4 Var,Dayton,1,66.4673,Michigan St,3,67.8042,Michigan St
19,OLS,2018,5 Var,Dayton,1,69.3262,Michigan St,3,72.8959,Michigan St
20,OLS,2019,1 Var,Dayton,1,73.0098,Michigan St,3,70.0854,Dayton
21,OLS,2019,2 Var,Dayton,1,70.3777,Michigan St,3,67.9162,Dayton
22,OLS,2019,3 Var,Dayton,1,68.4222,Michigan St,3,70.4946,Michigan St
23,OLS,2019,4 Var,Dayton,1,70.1981,Michigan St,3,70.1566,Dayton
24,OLS,2019,5 Var,Dayton,1,75.0613,Michigan St,3,77.3675,Michigan St
25,OLS,Total,1 Var,Dayton,1,73.0852,Michigan St,3,69.7203,Dayton
26,OLS,Total,2 Var,Dayton,1,69.8307,Michigan St,3,66.673,Dayton
27,OLS,Total,3 Var,Dayton,1,68.0452,Michigan St,3,69.6296,Michigan St
28,OLS,Total,4 Var,Dayton,1,68.386,Michigan St,3,69.5817,Michigan St
29,OLS,Total,5 Var,Dayton,1,71.6162,Michigan St,3,74.8819,Michigan St
30,OLS,2018,1 Var,Baylor,1,64.4675,Florida St,2,61.5955,Baylor
31,OLS,2018,2 Var,Baylor,1,57.8346,Florida St,2,52.4606,Baylor
32,OLS,2018,3 Var,Baylor,1,60.6165,Florida St,2,56.4266,Baylor
33,OLS,2018,4 Var,Baylor,1,58.1041,Florida St,2,55.3869,Baylor
34,OLS,2018,5 Var,Baylor,1,58.3614,Florida St,2,59.943,Florida St
35,OLS,2019,1 Var,Baylor,1,66.6804,Florida St,2,64.5819,Baylor
36,OLS,2019,2 Var,Baylor,1,63.1648,Florida St,2,58.6435,Baylor
37,OLS,2019,3 Var,Baylor,1,64.6166,Florida St,2,60.9053,Baylor
38,OLS,2019,4 Var,Baylor,1,68.766,Florida St,2,62.2433,Baylor
39,OLS,2019,5 Var,Baylor,1,71.5569,Florida St,2,69.9297,Baylor
40,OLS,Total,1 Var,Baylor,1,65.8024,Florida St,2,63.3877,Baylor
41,OLS,Total,2 Var,Baylor,1,61.4923,Florida St,2,57.0282,Baylor
42,OLS,Total,3 Var,Baylor,1,63.4553,Florida St,2,59.951,Baylor
43,OLS,Total,4 Var,Baylor,1,64.2655,Florida St,2,60.2366,Baylor
44,OLS,Total,5 Var,Baylor,1,65.3704,Florida St,2,65.4091,Florida St
45,OLS,2018,1 Var,Gonzaga,1,80.3827,San Diego St,2,68.0923,Gonzaga
46,OLS,2018,2 Var,Gonzaga,1,71.069,San Diego St,2,66.5851,Gonzaga
47,OLS,2018,3 Var,Gonzaga,1,69.5658,San Diego St,2,65.5532,Gonzaga
48,OLS,2018,4 Var,Gonzaga,1,69.5714,San Diego St,2,66.341,Gonzaga
49,OLS,2018,5 Var,Gonzaga,1,74.4621,San Diego St,2,70.5545,Gonzaga
50,OLS,2019,1 Var,Gonzaga,1,78.3095,San Diego St,2,69.3291,Gonzaga
51,OLS,2019,2 Var,Gonzaga,1,68.1762,San Diego St,2,71.2551,San Diego St
52,OLS,2019,3 Var,Gonzaga,1,66.0309,San Diego St,2,69.4165,San Diego St
53,OLS,2019,4 Var,Gonzaga,1,65.9238,San Diego St,2,67.8966,San Diego St
54,OLS,2019,5 Var,Gonzaga,1,72.6168,San Diego St,2,73.0232,San Diego St
55,OLS,Total,1 Var,Gonzaga,1,79.1833,San Diego St,2,68.85,Gonzaga
56,OLS,Total,2 Var,Gonzaga,1,70.2373,San Diego St,2,69.0284,Gonzaga
57,OLS,Total,3 Var,Gonzaga,1,68.2082,San Diego St,2,67.4103,Gonzaga
58,OLS,Total,4 Var,Gonzaga,1,68.1936,San Diego St,2,67.1248,Gonzaga
59,OLS,Total,5 Var,Gonzaga,1,73.1601,San Diego St,2,71.2299,Gonzaga

In [24]:
#FINAL FOUR#
model = ["OLS"]*15*len(F420)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(F420)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(F420)

df5 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df5['Team1'] = ''
for team in F420['Team1']:
    df5['Team1'][x:x+15] = F420['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df5['Seed1'] = ''
for seed in F420['Seed1']:
    df5['Seed1'][c:c+15] = F420['Seed1'][d]
    c+=15
    d+=1

df5['Score1'] = ''
a = 0
b = 0
for team in F420['Team1']:
    df5['Score1'][a] = -5.02543 + 0.976939*float(F420['STA20_PPG'][b])
    df5['Score1'][a+1] = -74.0071 + 1.00109*float(F420['STA20_PPG'][b]) + 0.967846*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+2] = -70.1455 + 0.955968*float(F420['STA20_PPG'][b]) + 0.473929*float(F420['KP20_Strength of Schedule'][b]) + 0.92468*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+3] = -82.3881 + 0.970723*float(F420['STA20_PPG'][b]) + 0.462304*float(F420['KP20_Strength of Schedule'][b]) + 1.01973*float(F420['STA20_PAPG_Opp'][b]) + 0.177797*float(F420['STA20_W_Opp'][b])
    df5['Score1'][a+4] = -63.6428 + 1.00052*float(F420['STA20_PPG'][b]) + 0.446139*float(F420['KP20_Strength of Schedule'][b]) + 1.05001*float(F420['STA20_PAPG_Opp'][b]) - 0.369185*float(F420['STA20_W_Opp'][b]) - 0.905853*float(F420['STA20_L_Opp'][b])
    df5['Score1'][a+5] = 15.902611 + 0.71384*float(F420['STA20_PPG'][b])
    df5['Score1'][a+6] = -48.426361 + 0.536223*float(F420['STA20_PPG'][b]) + 1.172443*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+7] = -56.642701 + 0.562659*float(F420['STA20_PPG'][b]) + 0.500212*float(F420['KP20_Strength of Schedule'][b]) + 1.215311*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+8] = -37.650392 + 0.553086*float(F420['STA20_PPG'][b]) + 0.50739*float(F420['KP20_Strength of Schedule'][b]) + 1.07027*float(F420['STA20_PAPG_Opp'][b]) - 0.321816*float(F420['STA20_W_Opp'][b])
    df5['Score1'][a+9] = 3.613461 + 0.560754*float(F420['STA20_PPG'][b]) + 0.500846*float(F420['KP20_Strength of Schedule'][b]) + 1.010908*float(F420['STA20_PAPG_Opp'][b]) - 1.290625*float(F420['STA20_W_Opp'][b]) - 1.315466*float(F420['STA20_L_Opp'][b])
    df5['Score1'][a+10] = 7.375406 + 0.821373*float(F420['STA20_PPG'][b])
    df5['Score1'][a+11] = -48.270106 + 0.719206*float(F420['STA20_PPG'][b]) + 0.935473*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+12] = -52.982605 + 0.722385*float(F420['STA20_PPG'][b]) + 0.511772*float(F420['KP20_Strength of Schedule'][b]) + 0.955096*float(F420['STA20_PAPG_Opp'][b])
    df5['Score1'][a+13] = -49.184422 + 0.719624*float(F420['STA20_PPG'][b]) + 0.514046*float(F420['KP20_Strength of Schedule'][b]) + 0.92577*float(F420['STA20_PAPG_Opp'][b]) - 0.061098*float(F420['STA20_W_Opp'][b])
    df5['Score1'][a+14] = -24.74616 + 0.736241*float(F420['STA20_PPG'][b]) + 0.504309*float(F420['KP20_Strength of Schedule'][b]) + 0.923679*float(F420['STA20_PAPG_Opp'][b]) - 0.690474*float(F420['STA20_W_Opp'][b]) - 0.947672*float(F420['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df5['Team2'] = ''
for team in F420['Team2']:
    df5['Team2'][x1:x1+15] = F420['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df5['Seed2'] = ''
for seed in F420['Seed2']:
    df5['Seed2'][c1:c1+15] = F420['Seed2'][d1]
    c1+=15
    d1+=1

df5['Score2'] = ''
a1 = 0
b1 = 0
for team in F420['Team2']:
    df5['Score2'][a1] = -5.02543 + 0.976939*float(F420['STA20_PPG_Opp'][b1])
    df5['Score2'][a1+1] = -74.0071 + 1.00109*float(F420['STA20_PPG_Opp'][b1]) + 0.967846*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+2] = -70.1455 + 0.955968*float(F420['STA20_PPG_Opp'][b1]) + 0.473929*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+3] = -82.3881 + 0.970723*float(F420['STA20_PPG_Opp'][b1]) + 0.462304*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(F420['STA20_PAPG'][b1]) + 0.177797*float(F420['STA20_W'][b1])
    df5['Score2'][a1+4] = -63.6428 + 1.00052*float(F420['STA20_PPG_Opp'][b1]) + 0.446139*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(F420['STA20_PAPG'][b1]) - 0.369185*float(F420['STA20_W'][b1]) - 0.905853*float(F420['STA20_L'][b1])
    df5['Score2'][a1+5] = 15.902611 + 0.71384*float(F420['STA20_PPG_Opp'][b1])
    df5['Score2'][a1+6] = -48.426361 + 0.536223*float(F420['STA20_PPG_Opp'][b1]) + 1.172443*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+7] = -56.642701 + 0.562659*float(F420['STA20_PPG_Opp'][b1]) + 0.500212*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+8] = -37.650392 + 0.553086*float(F420['STA20_PPG_Opp'][b1]) + 0.50739*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(F420['STA20_PAPG'][b1]) - 0.321816*float(F420['STA20_W'][b1])
    df5['Score2'][a1+9] = 3.613461 + 0.560754*float(F420['STA20_PPG_Opp'][b1]) + 0.500846*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(F420['STA20_PAPG'][b1]) - 1.290625*float(F420['STA20_W'][b1]) - 1.315466*float(F420['STA20_L'][b1])
    df5['Score2'][a1+10] = 7.375406 + 0.821373*float(F420['STA20_PPG_Opp'][b1])
    df5['Score2'][a1+11] = -48.270106 + 0.719206*float(F420['STA20_PPG_Opp'][b1]) + 0.935473*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+12] = -52.982605 + 0.722385*float(F420['STA20_PPG_Opp'][b1]) + 0.511772*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(F420['STA20_PAPG'][b1])
    df5['Score2'][a1+13] = -49.184422 + 0.719624*float(F420['STA20_PPG_Opp'][b1]) + 0.514046*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(F420['STA20_PAPG'][b1]) - 0.061098*float(F420['STA20_W'][b1])
    df5['Score2'][a1+14] = -24.74616 + 0.736241*float(F420['STA20_PPG_Opp'][b1]) + 0.504309*float(F420['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(F420['STA20_PAPG'][b1]) - 0.690474*float(F420['STA20_W'][b1]) - 0.947672*float(F420['STA20_L'][b1])
    a1+=15
    b1+=1

df5['Winner'] = np.where(df5['Score1'] > df5['Score2'], df5['Team1'], df5['Team2'])
df5

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,Michigan St,3,69.1274,Michigan St
1,OLS,2018,2 Var,Kansas,1,63.3151,Michigan St,3,60.7365,Kansas
2,OLS,2018,3 Var,Kansas,1,67.0167,Michigan St,3,64.2587,Kansas
3,OLS,2018,4 Var,Kansas,1,65.7926,Michigan St,3,63.7448,Kansas
4,OLS,2018,5 Var,Kansas,1,68.3297,Michigan St,3,68.3624,Michigan St
5,OLS,2019,1 Var,Kansas,1,69.1413,Michigan St,3,70.0854,Michigan St
6,OLS,2019,2 Var,Kansas,1,67.4717,Michigan St,3,63.4533,Kansas
7,OLS,2019,3 Var,Kansas,1,70.335,Michigan St,3,65.8686,Kansas
8,OLS,2019,4 Var,Kansas,1,72.2341,Michigan St,3,66.4045,Kansas
9,OLS,2019,5 Var,Kansas,1,76.9908,Michigan St,3,73.4947,Kansas
10,OLS,Total,1 Var,Kansas,1,68.6339,Michigan St,3,69.7203,Michigan St
11,OLS,Total,2 Var,Kansas,1,65.9331,Michigan St,3,63.1122,Kansas
12,OLS,Total,3 Var,Kansas,1,69.2071,Michigan St,3,65.9941,Kansas
13,OLS,Total,4 Var,Kansas,1,69.5854,Michigan St,3,66.1189,Kansas
14,OLS,Total,5 Var,Kansas,1,72.629,Michigan St,3,71.1088,Kansas
15,OLS,2018,1 Var,Baylor,1,64.4675,Gonzaga,1,80.3827,Gonzaga
16,OLS,2018,2 Var,Baylor,1,62.8707,Gonzaga,1,71.7122,Gonzaga
17,OLS,2018,3 Var,Baylor,1,65.4279,Gonzaga,1,70.1803,Gonzaga
18,OLS,2018,4 Var,Baylor,1,66.077,Gonzaga,1,69.5379,Gonzaga
19,OLS,2018,5 Var,Baylor,1,70.0633,Gonzaga,1,74.8249,Gonzaga
20,OLS,2019,1 Var,Baylor,1,66.6804,Gonzaga,1,78.3095,Gonzaga
21,OLS,2019,2 Var,Baylor,1,69.2654,Gonzaga,1,68.9554,Baylor
22,OLS,2019,3 Var,Baylor,1,70.9403,Gonzaga,1,66.8386,Baylor
23,OLS,2019,4 Var,Baylor,1,69.5077,Gonzaga,1,67.9223,Baylor
24,OLS,2019,5 Var,Baylor,1,74.5587,Gonzaga,1,75.8202,Gonzaga
25,OLS,Total,1 Var,Baylor,1,65.8024,Gonzaga,1,79.1833,Gonzaga
26,OLS,Total,2 Var,Baylor,1,66.3598,Gonzaga,1,70.859,Gonzaga
27,OLS,Total,3 Var,Baylor,1,68.4249,Gonzaga,1,68.843,Gonzaga
28,OLS,Total,4 Var,Baylor,1,68.1662,Gonzaga,1,69.0532,Gonzaga
29,OLS,Total,5 Var,Baylor,1,72.1393,Gonzaga,1,74.6405,Gonzaga

In [80]:
#FINALS#
model = ["OLS"]*15*len(F20)

year = (["2018"]*5 + ["2019"]*5 + ["Total"]*5)*len(F20)


var = ["1 Var","2 Var","3 Var","4 Var","5 Var"]*3*len(F20)

df6 = pd.DataFrame({'Model': model,'Year':year,'Varaible':var})

x = 0 
y = 0
df6['Team1'] = ''
for team in F20['Team1']:
    df6['Team1'][x:x+15] = F20['Team1'][y]
    x+=15
    y+=1

c = 0
d = 0
df6['Seed1'] = ''
for seed in F20['Seed1']:
    df6['Seed1'][c:c+15] = F20['Seed1'][d]
    c+=15
    d+=1

df6['Score1'] = ''
a = 0
b = 0
for team in F20['Team1']:
    df6['Score1'][a] = -5.02543 + 0.976939*float(F20['STA20_PPG'][b])
    df6['Score1'][a+1] = -74.0071 + 1.00109*float(F20['STA20_PPG'][b]) + 0.967846*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+2] = -70.1455 + 0.955968*float(F20['STA20_PPG'][b]) + 0.473929*float(F20['KP20_Strength of Schedule'][b]) + 0.92468*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+3] = -82.3881 + 0.970723*float(F20['STA20_PPG'][b]) + 0.462304*float(F20['KP20_Strength of Schedule'][b]) + 1.01973*float(F20['STA20_PAPG_Opp'][b]) + 0.177797*float(F20['STA20_W_Opp'][b])
    df6['Score1'][a+4] = -63.6428 + 1.00052*float(F20['STA20_PPG'][b]) + 0.446139*float(F20['KP20_Strength of Schedule'][b]) + 1.05001*float(F20['STA20_PAPG_Opp'][b]) - 0.369185*float(F20['STA20_W_Opp'][b]) - 0.905853*float(F20['STA20_L_Opp'][b])
    df6['Score1'][a+5] = 15.902611 + 0.71384*float(F20['STA20_PPG'][b])
    df6['Score1'][a+6] = -48.426361 + 0.536223*float(F20['STA20_PPG'][b]) + 1.172443*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+7] = -56.642701 + 0.562659*float(F20['STA20_PPG'][b]) + 0.500212*float(F20['KP20_Strength of Schedule'][b]) + 1.215311*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+8] = -37.650392 + 0.553086*float(F20['STA20_PPG'][b]) + 0.50739*float(F20['KP20_Strength of Schedule'][b]) + 1.07027*float(F20['STA20_PAPG_Opp'][b]) - 0.321816*float(F20['STA20_W_Opp'][b])
    df6['Score1'][a+9] = 3.613461 + 0.560754*float(F20['STA20_PPG'][b]) + 0.500846*float(F20['KP20_Strength of Schedule'][b]) + 1.010908*float(F20['STA20_PAPG_Opp'][b]) - 1.290625*float(F20['STA20_W_Opp'][b]) - 1.315466*float(F20['STA20_L_Opp'][b])
    df6['Score1'][a+10] = 7.375406 + 0.821373*float(F20['STA20_PPG'][b])
    df6['Score1'][a+11] = -48.270106 + 0.719206*float(F20['STA20_PPG'][b]) + 0.935473*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+12] = -52.982605 + 0.722385*float(F20['STA20_PPG'][b]) + 0.511772*float(F20['KP20_Strength of Schedule'][b]) + 0.955096*float(F20['STA20_PAPG_Opp'][b])
    df6['Score1'][a+13] = -49.184422 + 0.719624*float(F20['STA20_PPG'][b]) + 0.514046*float(F20['KP20_Strength of Schedule'][b]) + 0.92577*float(F20['STA20_PAPG_Opp'][b]) - 0.061098*float(F20['STA20_W_Opp'][b])
    df6['Score1'][a+14] = -24.74616 + 0.736241*float(F20['STA20_PPG'][b]) + 0.504309*float(F20['KP20_Strength of Schedule'][b]) + 0.923679*float(F20['STA20_PAPG_Opp'][b]) - 0.690474*float(F20['STA20_W_Opp'][b]) - 0.947672*float(F20['STA20_L_Opp'][b])
    a+=15
    b+=1

x1 = 0
y1 = 0
df6['Team2'] = ''
for team in F20['Team2']:
    df6['Team2'][x1:x1+15] = F20['Team2'][y1]
    x1+=15
    y1+=1
    
c1 = 0
d1 = 0
df6['Seed2'] = ''
for seed in F20['Seed2']:
    df6['Seed2'][c1:c1+15] = F20['Seed2'][d1]
    c1+=15
    d1+=1

df6['Score2'] = ''
a1 = 0
b1 = 0
for team in F20['Team2']:
    df6['Score2'][a1] = -5.02543 + 0.976939*float(F20['STA20_PPG_Opp'][b1])
    df6['Score2'][a1+1] = -74.0071 + 1.00109*float(F20['STA20_PPG_Opp'][b1]) + 0.967846*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+2] = -70.1455 + 0.955968*float(F20['STA20_PPG_Opp'][b1]) + 0.473929*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 0.92468*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+3] = -82.3881 + 0.970723*float(F20['STA20_PPG_Opp'][b1]) + 0.462304*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 1.01973*float(F20['STA20_PAPG'][b1]) + 0.177797*float(F20['STA20_W'][b1])
    df6['Score2'][a1+4] = -63.6428 + 1.00052*float(F20['STA20_PPG_Opp'][b1]) + 0.446139*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 1.05001*float(F20['STA20_PAPG'][b1]) - 0.369185*float(F20['STA20_W'][b1]) - 0.905853*float(F20['STA20_L'][b1])
    df6['Score2'][a1+5] = 15.902611 + 0.71384*float(F20['STA20_PPG_Opp'][b1])
    df6['Score2'][a1+6] = -48.426361 + 0.536223*float(F20['STA20_PPG_Opp'][b1]) + 1.172443*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+7] = -56.642701 + 0.562659*float(F20['STA20_PPG_Opp'][b1]) + 0.500212*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 1.215311*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+8] = -37.650392 + 0.553086*float(F20['STA20_PPG_Opp'][b1]) + 0.50739*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 1.07027*float(F20['STA20_PAPG'][b1]) - 0.321816*float(F20['STA20_W'][b1])
    df6['Score2'][a1+9] = 3.613461 + 0.560754*float(F20['STA20_PPG_Opp'][b1]) + 0.500846*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 1.010908*float(F20['STA20_PAPG'][b1]) - 1.290625*float(F20['STA20_W'][b1]) - 1.315466*float(F20['STA20_L'][b1])
    df6['Score2'][a1+10] = 7.375406 + 0.821373*float(F20['STA20_PPG_Opp'][b1])
    df6['Score2'][a1+11] = -48.270106 + 0.719206*float(F20['STA20_PPG_Opp'][b1]) + 0.935473*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+12] = -52.982605 + 0.722385*float(F20['STA20_PPG_Opp'][b1]) + 0.511772*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 0.955096*float(F20['STA20_PAPG'][b1])
    df6['Score2'][a1+13] = -49.184422 + 0.719624*float(F20['STA20_PPG_Opp'][b1]) + 0.514046*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 0.92577*float(F20['STA20_PAPG'][b1]) - 0.061098*float(F20['STA20_W'][b1])
    df6['Score2'][a1+14] = -24.74616 + 0.736241*float(F20['STA20_PPG_Opp'][b1]) + 0.504309*float(F20['KP20_Strength of Schedule_Opp'][b1]) + 0.923679*float(F20['STA20_PAPG'][b1]) - 0.690474*float(F20['STA20_W'][b1]) - 0.947672*float(F20['STA20_L'][b1])
    a1+=15
    b1+=1

df6['Winner'] = np.where(df6['Score1'] > df6['Score2'], df6['Team1'], df6['Team2'])
df6

C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:72: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:75: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:76: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:77: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:82: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Acer\Anaconda3\lib\site-packages\ipykernel_launcher.py:83: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Model,Year,Varaible,Team1,Seed1,Score1,Team2,Seed2,Score2,Winner
0,OLS,2018,1 Var,Kansas,1,67.8353,Gonzaga,1,80.3827,Gonzaga
1,OLS,2018,2 Var,Kansas,1,66.3217,Gonzaga,1,72.2701,Gonzaga
2,OLS,2018,3 Var,Kansas,1,69.8893,Gonzaga,1,70.7132,Gonzaga
3,OLS,2018,4 Var,Kansas,1,70.5607,Gonzaga,1,70.4812,Kansas
4,OLS,2018,5 Var,Kansas,1,74.6099,Gonzaga,1,75.5976,Gonzaga
5,OLS,2019,1 Var,Kansas,1,69.1413,Gonzaga,1,78.3095,Gonzaga
6,OLS,2019,2 Var,Kansas,1,71.114,Gonzaga,1,69.6312,Kansas
7,OLS,2019,3 Var,Kansas,1,74.1105,Gonzaga,1,67.539,Kansas
8,OLS,2019,4 Var,Kansas,1,72.6626,Gonzaga,1,67.8955,Kansas
9,OLS,2019,5 Var,Kansas,1,77.7238,Gonzaga,1,75.137,Kansas
10,OLS,Total,1 Var,Kansas,1,68.6339,Gonzaga,1,79.1833,Gonzaga
11,OLS,Total,2 Var,Kansas,1,68.8392,Gonzaga,1,71.3982,Gonzaga
12,OLS,Total,3 Var,Kansas,1,72.1742,Gonzaga,1,69.3934,Kansas
13,OLS,Total,4 Var,Kansas,1,71.9115,Gonzaga,1,69.4646,Kansas
14,OLS,Total,5 Var,Kansas,1,75.9179,Gonzaga,1,74.7395,Kansas

In [81]:
#df6['WPct'] = df6['Winner'].apply(pd.value_counts)
df61['WPct'] = ''
df61['WPct'] = df6.groupby('Winner').count()
#df61 = df61.drop(['Model','Year','Varaible','Team1','Seed1','Score1','Team2','Seed2','Score2'], axis =1, inplace=True)
#df6 = df61.groupby('Winner')['WPct'].transform('count')
df61

TypeError: 'NoneType' object does not support item assignment

In [100]:
df61 = df6['Winner'].value_counts()
df61.to_frame()

         Winner
Kansas        8
Gonzaga       7

In [10]:
df.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\FirstFourPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [11]:
df1.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\FirstRoundPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [16]:
df2.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\SecondRoundPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [22]:
df3.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\SweetSixteenPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [28]:
df4.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\EliteEightPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [33]:
df5.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\FinalFourPredictions.csv", index = False, sep = ',', encoding = 'utf-8')

In [39]:
df6.to_csv(r"C:\\Users\\Acer\\Desktop\\Web Scraping\\FinalsPredictions.csv", index = False, sep = ',', encoding = 'utf-8')